venv/*
*.pyc
.project
.settings/*
SpringCaseStudy/target/m2e-wtp/web-resources/META-INF/maven/com.syntinel/Restaurant/pom.properties
SpringCaseStudy/target/m2e-wtp/web-resources/META-INF/maven/com.syntinel/Restaurant/pom.properties
SpringCaseStudy/.classpath
SpringCaseStudy/src/main/resources/application.properties
SpringCaseStudy/target/m2e-wtp/web-resources/META-INF/maven/com.syntinel/Restaurant/pom.properties
