#jumbotron{
	background-size: 100%;
	width: 100%;
	height: 50vh;
}

#title_container{
    background: rgba(204, 204, 204, 0.8);
	height: 12vh;
	display:flex;
}
#title{
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: 725;
}
section{
	display: flex;
	flex-flow: row;
	justify-content: space-around; 
}
article{
	width: 40%;
}
#main_container {
	background-color: white; 
	margin: 0 6% 5% 5%;
	top:100vh;
	min-height:75vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: block;
}
